@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            background-color: #f8f9fa; /* Gris claro para la tarjeta */
            border: 1px solid #dee2e6; /* Borde gris claro */
            opacity: 0.9; /* Opacidad de la tarjeta */
            padding: 2rem;
            text-align: center;
            max-width: 600px; /* Ancho máximo de la tarjeta */
            box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra para darle profundidad */
        }
        
        .card-title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        
        .card-text {
            font-size: 1rem;
        }
    </style>
</head>
<body>
    <div class="card">
        <h1 class="card-title">Privacy Notice</h1>
        <p class="card-text">This page is under privacy review. All rights reserved to Jayson Ventura Santana.</p>
    </div>
</body>
</html>

